/* color palette from <https://github.com/vuejs/theme> */
:root {
  --darkgreen:rgb(1, 169, 1);
  --darkred: #b80000;
  --white: #fff;
  --black: #000;
  --black07: rgba(0, 0, 0, 0.7);
  --black05: rgba(0, 0, 0, 0.5);
  --white07: rgba(255, 255, 255, 0.9);
  --white15: rgba(255, 255, 255, 0.5);
  /* box-sizing: border-box; */
}

*{
  box-sizing: border-box;
}

:root {
  --bg: var(--darkgreen);
  --bgText: var(--white15);
  --text:var(--black);
}


[data-theme="light"] {
  --bg: var(--darkgreen);
  --bgText: var(--white15);
  --text:var(--black);

}
[data-theme="dark"] {
  --bg: var(--darkred);
  --bgText: var(--black07);
  --text:var(--white);

}

/* Optional: fallback auf prefers-color-scheme, falls kein Toggle genutzt wird */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--darkred);
    --bgText: var(--black07);
    --text:var(--white);
  }
}



body {
  margin: 0;
  /* min-height: 100vh; */
  background-image: url(../assets/61809AEE-179C-47BA-B32A-10B8147C7037_1_105_c.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-text);
  /* background: var(--bg); */
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

